# Project exclude paths
/data/
/models/CV/
/notebooks/sorghum/submission/1/model.hdf5
/notebooks/sorghum/submission/2/model.hdf5
/notebooks/sorghum/submission/3/model.hdf5
/notebooks/sorghum/submission/4/model.hdf5
/notebooks/sorghum/submission/5/model.hdf5
/notebooks/sorghum/submission/6/model.hdf5
/notebooks/sorghum/submission/7/model.hdf5
/notebooks/sorghum/submission/8/model.hdf5
/notebooks/sorghum/submission/9/model.hdf5
/notebooks/sorghum/submission/9/model-2nd-iter.hdf5
/notebooks/activation/emperical test/DS_1/defult_init/model_lr_1.hdf5
/notebooks/activation/emperical test/DS_1/defult_init/model_r.hdf5
/notebooks/sorghum/submission/10/model.hdf5
/notebooks/sorghum/submission/10/model-2nd-iter.hdf5
/notebooks/sorghum/submission/10/model-3rd-iter.hdf5
/notebooks/sorghum/submission/11/model.hdf5
/notebooks/sorghum/submission/11/model_weights.hdf5
/notebooks/sorghum/submission/12/best-checkpoint.hdf5
/notebooks/sorghum/submission/11/model-2nd-iter.hdf5
/notebooks/sorghum/submission/10/model-4th-iter.hdf5
/notebooks/sorghum/submission/14/best-checkpoint.hdf5
/notebooks/sorghum/submission/13/best-checkpoint (2).hdf5
/notebooks/sorghum/submission/13/best-checkpoint (1).hdf5
/notebooks/sorghum/submission/15/model.hdf5
/notebooks/sorghum/submission/16/best_checkpoint.hdf5
/notebooks/sorghum/submission/12/model.hdf5
/notebooks/sorghum/submission/15/best_checkpoint.hdf5
